* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #1e201e;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

header a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

nav a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 25px;
  transition: 0.5s ease;
}

nav a:hover {
  background-color: #ffff;
  color: #1e201e;
}

.logo a {
  font-size: 20px;
  font-weight: 700;
}

.rheader {
  color: black;
  font-size: 20px;
}

.button1 {
  display: inline-block;
  background-color: #ffff;
  color: #1e201e;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button1:hover {
  color: #1e201e;
  transform: translateY(-3px);
  box-shadow: 0 4px 15px #4c4e4c;
}

.loc {
  transition: 0.4s;
}

.loc:hover {
  color: #d6d6d6;
}

.signinsec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #1e201e;
  letter-spacing: 1.5px;
}

p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

form {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

table {
  width: 100%;
  border-spacing: 10px;
}

td {
  padding: 5px;
}

#username,
#password {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #3c3d37;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}

.submit-button:hover {
  background-color: #1e201e;
}

#forgot-password,
#create-account {
  font-size: 15px;
  color: #007bff;
  text-decoration: none;
}

#forgot-password:hover,
#create-account:hover {
  border-bottom: 1px solid #007bff;
}

footer{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left a{
  color:white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
.social{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.social a{
  text-decoration: none;
  color:white;
  font-size: 13px;
  font-weight: 700;
}
.social i{
  color:white;
  font-size: 20px;
  margin: 0 8px;
  font-weight: 700;
}