/* <i class="fa-solid fa-user"></i>  */

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #1e201e;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
header a {
  color: white;
  margin: 10px;
  text-decoration: none;
}
nav a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 25px;
  transition: 0.5s ease;
}
nav a:hover {
  background-color: #ffff;
  color: #1e201e;
}
.logo a {
  font-size: 20px;
  font-weight: 700;
}
.rheader {
  color: black;
  font-size: 20px;
}
.button1 {
  display: inline-block;
  background-color: #ffff;
  color: #1e201e;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button1:hover {
  color: #1e201e;
  transform: translateY(-3px);
  box-shadow: 0 4px 15px #4c4e4c;
}
.loc {
  transition: 0.4s;
}
.loc:hover {
  color: #d6d6d6;
}
footer{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left a{
  color: #1e201e;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
.social{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.social a{
  text-decoration: none;
  color: #1e201e;
  font-size: 13px;
  font-weight: 700;
}
.social i{
  color: #1e201e;
  font-size: 20px;
  margin: 0 8px;
  font-weight: 700;
}
